html{
    font-family: 'Poppins', sans-serif;
}
.navbar-collapse{
    justify-content: flex-end;
}
#nav img {
    width: 80px;
}
section{
    margin-bottom: 30px;
}
#nav{
    margin-bottom: 0px;
}
section#nav a {
    font-size: 15px;
    font-weight: 600;
    color: #777;
}
.navbar{
    background-color: #fff !important;
} 
.col-7{
    padding: 0px;
}
a.buy-now-btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 8px 17px;
    border-radius: 5px;
    font-size: 18px;
}
button.active {
    background-color: #ffcb1c !important;
    padding: 2px !important;
    border: 0px !important;
    border-radius: 5px;
    width: 30px !important;
}
.carousel-btn{
    background-color: #666 !important;
    padding: 2px !important;
    border: 0px !important;
    border-radius: 5px;
    width: 10px !important;
}
#bannar h3, p, a{
    margin-bottom: 30px;
}
#smartphone img{
    width: 70%;
    margin: auto;
    padding: 16px;
}
#smartphone .card {
    text-align: center;
    border: none;
    box-shadow: 0px 0px 7px 0px #666;
    height: 100%;
}
.card-footer {
    background-color: #fff;
    border: none;
}
.col-4 {
    padding: 0px 18px;
}
#smartphone h4 {
    margin-bottom: 20px;
}
p.card-text {
    font-size: 12px;
    font-weight: 500;
    color: #777;
}
.link {
    color: #ffcb1c;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}
.col-3 .box {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 23px;
    box-shadow: 0px 0px 20px 5px #777;
    text-align: center;
}
.col-3 img {
    padding: 20px 6px;
    padding-bottom: 18px;
    width: 65%;
}
.col-3 p {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading p {
    width: 45px;
    background-color: #ffcb1c;
    height: 5px;
    border-radius: 5px;
    margin-top: 4px;
}